
header{
    background-image: linear-gradient(to top, rgba(33, 33, 35, 0.821) 50%, rgba(255, 255, 255, 0.059)), url(./wallpaperflare.com_wallpaper.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-y: 200%;

    min-height: 30vh;
    align-items: center;
    justify-content: center;
    display: flex;
}
.navbar-container{
    position: relative;
    padding: 50px;
}
.sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-radius: 0px !important;
    transition: 1s ease;
  }
.logo{
    position: absolute;
    box-sizing: content-box;
    text-align: center;
    left: 0; 
    right: 0; 
    top: 0;
    margin-left: auto; 
    width: 100px;
    margin-right: auto; 
    transform: translateY(10px);
    background-color: blueviolet;
    /* box-shadow: 1px 1px 5px #222; */
    padding: 10px 20px;
    border-radius: 20px;
    z-index: 1;
    /* color: #222; */
    /* color: red; */
    i{
        /* color: whitesmoke; */
    }
}

.position-fixed{
    overflow-y: scroll;
    /* padding: 50px; */
}

.navbar{
    /* border: 5px solid rgba(137, 43, 226, 0.903); */
    box-shadow: 1px 1px 10px #5f1d9d85;
    background-color: rgb(137, 43, 226);
    transition: 0.5s ease;
    align-items: center;
    justify-content: center;
    text-align: center;
    a{
        text-transform: uppercase;
        font-weight: bolder;
        color: aliceblue;
    }

    .navbar-nav{
        align-items: center;
        justify-content: center;

        #allGames{
            border: none;
            text-transform: uppercase;
            background-color: transparent;
            color: whitesmoke;
            font-weight: bolder;
        }
    }

    .nav-item{
        cursor: pointer;
    }
}

.activeButton{
    background-color: #3d186098;
    padding: 5px 5px;
    border-radius: 15px;
    font-size: 1.2rem;
    transition: .3s ease;
}


.navbar-collapse{
    /* min-height: 0px; */
}

.searchInput{
    border: none;
}

.row{
    flex: wrap;
}
section {
    display: block;
    unicode-bidi: isolate;
}

.gameCard{
    background-color: #222;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 1px 1px 15px #7e10cc1f;
    transition: 0.3s ease;


    img{
        height: 30%;
        object-fit: cover;
        border-radius: 10px;
    }

    .contentDiv{
        padding: 5px;
    }

    .bottomDiv{
        background-color: #484848;
        position: relative;
        display: flex;
        width: 100%;
        height: 2.5rem;
        box-sizing: border-box;
        align-items: center;
        text-align: left;
        border-radius: 0px 0px 10px 10px;
        
        .badge{
            position: absolute;
            top: -10px;
            right: 10px;
            font-size: 1rem;
            background-color: purple;
        }

        i{
            color: violet;
            padding: 10px;
        }
    }
}


.gameCard:hover{
    transform: scale(1.05);
    transition: 0.3s ease;
}


.carousel-item .gameCard{
    background-color: rgba(113, 38, 183, 0.607);
    box-shadow: none;
    border: none;
}

.carousel-control-next{
    background-image: linear-gradient(to right, rgba(85, 30, 136, 0.73),  #212529);
    margin-right: -15%;
    border-radius: 10px;
}
.carousel-control-prev{
    background-image: linear-gradient(to left,  rgba(85, 30, 136, 0.73), #212529);
    margin-left: -15%;
    border-radius: 10px;
}

.carousel-item .gameCard:hover{
    transform: none;
}

/* Details page */
.detailsScreen{
    background-color: rgba(113, 38, 183, 0.801);
    padding: 50px;
    border-radius: 15px;
    position: relative;
}

.detailsScreen .fa-times{
    position: absolute;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    top: -15px;
    right: -15px;
    /* padding: 25px; */
    width: 70px;
    height: 70px;
    background-color: #3e1366;
    color: white;
    font-size: 1.5rem;
    border-radius: 50%;
    /* z-index: 1; */
    cursor: pointer;
}

.leftSide{
    background-color: rgb(54, 35, 71);
    padding: 20px;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    text-align: center;

    a{
        button{
            margin-top: 5%;
            text-transform: uppercase;
            width: 75%;
            padding: 20px 10px;
            background-color: #5f1d9d;
            border: none;
            border-radius: 15px;
            font-size: 1.2rem;
            font-weight: bold;
        }
    }

    .mainDisplayImage{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    i{
        position: absolute;
        background-color: #222;
        border-radius: 10px;
        padding: 10px;
        cursor: pointer;
    }

    .fa-arrow-left{
        left: 0;
        /* margin-top: 50px; */
    }

    .fa-arrow-right{
        right: 0;
    }

    .screenshots{
        /* margin: 0; */
        justify-content: space-between;
        .col-3{
            margin: 0;
            padding: 10px;
            img{
                width: 100%;
            }
        }
    }
}

.rightSide{
    background-color: rgb(70, 39, 96);
    padding: 20px;
    border-radius: 15px;
    .badge{
        font-size: 1rem;
        background-color: #5f1d9d;
        margin-bottom: 10px;
    }

    span a{
        text-decoration: none;
        color: #5f1d9d;
        font-weight: bold;
    }

    .card .card-header{
        background-color: #5f1d9d;
        button{
            color: whitesmoke;
            font-weight: bold;
        }
    }

    .card .fs-5{
        color: blueviolet;
    }
}

.dropdown:hover .dropdown-menu {
    display: block;
}
